body {
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  background-color:rgb(255, 255, 255)
  
}

/* Navigation styles */
.topnav {
  overflow: hidden;
  background-color: rgb(51, 51, 51);
  color: rgb(246, 245, 244);
  padding : 10px;
}
.topnav h2 {
  float : left;
  margin: auto 30px;
}

.topnav-right {
  float: right;
}

.topnav-right a {
  text-decoration: none;
  font-size: 21px;
  color:rgb(246, 245, 244);
  padding: 10px;
}






/* Home Page Styling */
img {
  width: 400px;
 
}
p {
  display: inline;
}

.main { 
  
  margin : 0px 20%;
  text-align: center;
 /*border : 2px solid black; */
  padding: 20px;
  background-color: white;
}

.quotes {
  font-family: cursive;
  font-size: 25px;
  font-weight: 800;
}
.tagline {
  font-size: 27px;
}
.interest {
  font-size: 25px;
  font-weight: 400;
}

/* About Page Styling */
.about-div {
  margin: 20px 40px;
}

.about-p {

  padding-left: 10px;
}

p {
  text-align: justify;
}


/** Projects Page styling **/
.projects-div {
  margin: 20px 40px;
}

.projects-ul > li {
 list-style: none;
}